RPA_BASE_URL=http://transul.snk.ativy.com:40150/mge/system.jsp#app/YnIuY29tLnNhbmtoeWEubWVudS5hZGljaW9uYWwuQURfVEdQRVND
RPA_USERNAME=usuario@exemplo.com
RPA_PASSWORD=senhaSuperSecreta
RPA_SCHEDULE_FILE=ESCALA DIARIA - 04-11.xlsx
RPA_SCHEDULE_SHEET=14-11-2025
RPA_KEEP_BROWSER_OPEN=true

